*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color:white;
}
.main{
    height:90%;
    width: 80%;
    margin:0 auto;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.884);
    position:relative;
}
.left-col{
    width:20%;
    height:100%;
    display:flex;
    flex-direction: column;
    /* background-color: aqua; */
    border-right: 1px solid rgba(255, 255, 255, 0.13);
    
    
}
.left-col img{
    height:80px;
    width: 80px;
    border-radius: 50%;
    margin:13px 10px 32px 30px;
    
}
.left-col h3,span{
    margin-left: 8px;
    /* background-color: brown; */
    padding-right:5px;
    margin-bottom:25px;
}
.left-col i{
    font-size: 25px;
}
.left-col h3{
    font-size: 17px;
    font-weight: 600;

}
/* content */

.content{
    height:100%;
    width:80%;
    background-color:rgba(243, 9, 9, 0.637);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 50px;
    padding-top: 16px;
    position:absolute;
    top:0;
    left:20%;
}
.content p{
    margin-top:5px;
    font-size: 18px;
}
.usage{
    position:relative;
    margin-top:30px;
    padding-top:12px;
    height:60%;
    width:60%;
    background-color: rgba(255, 255, 255, 0.151);
}
.usage span {
    position:absolute;
    right:2%;

}
.usage p{
    margin-left:15px;
}
.bars{
    margin-left:30px;
    margin-top:60px;
    display:flex;
    align-items: end;
    height:50%;
    width:70%;
    background-color: aqua;
}

.usage .mon{
    height:30px;
    width:30px;
    background-color: rgb(22, 121, 171);
}
